html, body {
    height:100%;
}

.page-title {
  text-align: center;
  margin: 40px 0;
}

.blog-card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 20px;
  height: 150px;
}

.first-card {
  height: 300px;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.418);
  z-index: 2;
}

.card-text {
  position: absolute;
  z-index: 3;
  color: white;
}

.overlay {
    position: relative;
    height:100%;
    background:url("../../static/img/air.jpg") no-repeat;
}

/*===styling the video container===*/
.video {
  backface-visibility:hidden;
  background-size:cover;
  bottom:0;
  height:auto;
  min-height:100%;
  min-width:100%;
  perspective:1000;
  position:fixed;
  right:0;
  width:auto;
  z-index:-1;
}

/*===Styling the actual video===*/
#myVid {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*===Animations and styling for cover items===*/
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  .05% {
      opacity: 1;
    }

  100% {
    opacity: 1;
  }
}

.cover-title {
  font-size: 7rem;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.cover-title-two {
  font-size: 5rem;
}

.cover-text {
  font-size: 25px;
}

.cover-items {
  opacity: 0;
  color: white;
  animation-delay: 0.05s;
  animation-name: fadeInOut;
  animation-duration: 10000s;
  max-width: 960px;
  text-align: center;
  margin: 20px auto;
}

/* Background Images */
#backgroundOne {
  background:url("../../static/img/air.jpg");
  background-size:cover;
  bottom:0;
  height:auto;
  min-height:100%;
  min-width:100%;
  perspective:1000;
  position:fixed;
  right:0;
  width:auto;
  z-index:-1;
}

/* Second Background Styling */
#backgroundTwo {
  background-image: url('../images/cover-img.jpg');
  background-position: center; 
}

#backgroundThree {
  background-image: url('../images/sunset.jpg');
  background-position: center; 
}

.background {
  background-attachment: fixed;
  /* background-position: inherit; */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 
  min-width: 80px; 
  min-height: 600px;
  color: white;
}

.disable-scroll {
  background: transparent;
  position: relative;
  width: 100%; /* iframe width */
  height: 360px; /* iframe height */
  top: 360px; /* iframe height */
  margin-top: -360px; /* iframe height */
}

.google-maps {
  width: 100%;
  padding-bottom: 10%;
  z-index: 1;
}

#google-maps {
  background-image: linear-gradient(#343a40, #f6f6f6);
}

.google-maps iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}

.google-maps iframe.clicked{
	pointer-events: auto;
}

.map-iframe {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.post-list {
  border: 1px solid  gainsboro;
  border-radius: 10px;
  box-shadow: 0 -1px 4px #ede7e7;
  height: 100%;
  padding: 15px;
}

.post-list:hover {
  background-color: whitesmoke;
}

img.post-html {
  max-width: 300px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.link{
  text-decoration: none;
  color: black;
  width: 100%;
}

.link:hover {
  text-decoration: none;
  color: black;
}
/*Styling Background for mobile devices*/
@media only screen and (max-width: 768px) {
  .overlay {
    display: none;
  }

  .background {
    background-attachment: scroll;
  }

  #backTwoHeading {
    padding-top: 100px;
}
}

@media only screen and (max-width: 576px) {
  .backgroundImage {
      min-width: 0px;; 
  }
  #backTwoHeading {
      padding: 0;
      font-size: 4rem;
  }
  .box {
      margin-bottom: 30px;
  }

  .cover-title {
    font-size: 6rem;
  }

  .cover-title-two {
    font-size: 4rem;
  }
}