html, body {
    height:100%;
}

h1, h2, h3, h4 {
    text-align: center;
    padding: 30px;
}

.overlay {
    position: relative;
    height:100%;
    background:url("../../static/img/air.jpg") no-repeat;
}

/*===styling the video container===*/
.video {
  backface-visibility:hidden;
  background-size:cover;
  bottom:0;
  height:auto;
  min-height:100%;
  min-width:100%;
  perspective:1000;
  position:fixed;
  right:0;
  width:auto;
  z-index:-1;
}

/*===Styling the actual video===*/
#myVid {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*===Animations and styling for cover items===*/
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  .05% {
      opacity: 1;
    }

  100% {
    opacity: 1;
  }
}

.cover-title {
  font-size: 7rem;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.cover-title-two {
  font-size: 5rem;
}

.cover-text {
  font-size: 25px;
}

.cover-items {
  opacity: 0;
  color: white;
  animation-delay: 0.05s;
  animation-name: fadeInOut;
  animation-duration: 10000s;
  max-width: 960px;
  text-align: center;
  margin: 20px auto;
}

/* Background Images */
#backgroundOne {
  background:url("../../static/img/air.jpg");
  background-size:cover;
  bottom:0;
  height:auto;
  min-height:100%;
  min-width:100%;
  perspective:1000;
  position:fixed;
  right:0;
  width:auto;
  z-index:-1;
}

/* Second Background Styling */
#backgroundTwo {
  background-image: url('../images/cover-img.jpg');
  background-position: center; 
}

#backgroundThree {
  background-image: url('../images/sunset.jpg');
  background-position: center; 
}

.background {
  background-attachment: fixed;
  /* background-position: inherit; */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 
  min-width: 80px; 
  min-height: 600px;
  color: white;
}

/*Styling Background for mobile devices*/
@media only screen and (max-width: 768px) {
  .overlay {
    display: none;
  }

  .background {
    background-attachment: scroll;
  }

  #backTwoHeading {
    padding-top: 100px;
}
}

@media only screen and (max-width: 576px) {
  .backgroundImage {
      min-width: 0px;; 
  }
  #backTwoHeading {
      padding: 0;
      font-size: 4rem;
  }
  .box {
      margin-bottom: 30px;
  }

  .cover-title {
    font-size: 6rem;
  }

  .cover-title-two {
    font-size: 4rem;
  }
}