body {
    text-align: center;
}

h1 {
    margin: 40px auto;
}

h2 {
    text-decoration: underline;
    margin: 40px;
}

.box {
    margin: 20px auto;
    margin-bottom: 70px;
}

/* input {
    margin: 3px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
} */

input, select, label {
    max-width: 100%;
    width: 90%;
    text-align: left;
    border-radius: 10px;
}

input, select {
    margin-bottom: 10px;
}

.social {
    padding: 5px;
}

.backgroundImage {
    min-width: 80px;; 
}

#backTwoHeading {
    font-size: 7rem;
    padding: 150px;
}

.form {
    max-width: 650px;
}

#submit {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #backTwoHeading {
        padding: 0;
    }
}

@media only screen and (max-width: 576px) {
    .backgroundImage {
        min-width: 0px;; 
    }
    #backTwoHeading {
        padding: 0;
        font-size: 4rem;
    }
    .box {
        margin-bottom: 30px;
    }
}