body {
    text-align: center;
}

h1 {
    margin: 40px auto;
}

h2 {
    text-decoration: underline;
    margin: 40px;
}

.box {
    margin: 20px auto;
    margin-bottom: 70px;
}

#backgroundOne {
    background-image: url('../images/air.jpg');
    background-position: inherit;
    padding-bottom: 50px;
}

#backgroundTwo {
    background-image: url('../images/cover-img.jpg');
    background-position: center; 
}

#backgroundThree {
    background-image: url('../images/sunset.jpg');
    background-position: center; 
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 0px;
    left: 0px;    background: rgba(128, 128, 128, 0.6);
    padding-bottom: 50px;
}

input, select, label, textarea {
    max-width: 100%;
    width: 90%;
    text-align: left;
    border-radius: 10px;
}

input, select {
    margin-bottom: 10px;
}

label {
    color: white;
}

.social {
    padding: 5px;
}

.background {
    /* background-attachment: fixed;
    background-position: inherit; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
    min-width: 80px; 
    min-height: 600px;
    color: white;
}

#backTwoHeading {
    font-size: 7rem;
    padding: 150px;
}

.form {
    max-width: 650px;
    margin: 0 auto;
}

#submit {
    text-align: center;
}

.divSection {
    padding: 0 200px;
}

@media only screen and (max-width: 768px) {
    #backTwoHeading {
        padding-top: 100px;
    }
    /* .background {
        background-attachment: scroll;
    } */
    .divSection {
        padding: 0px;
    }
}

@media only screen and (max-width: 576px) {
    .backgroundImage {
        min-width: 0px;; 
    }
    #backTwoHeading {
        padding: 0;
        font-size: 4rem;
    }
    .box {
        margin-bottom: 30px;
    }
}