@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  .05% {
      opacity: 1;
    }

  100% {
    opacity: 1;
  }
}

.landing-container {
  margin-top: 20vh;
}

.cover-wrapper {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.cover-container {
  opacity: 0;
  color: white;
  animation-delay: 0.05s;
  animation-name: fadeInOut;
  animation-duration: 10000s;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.445);
}

.cover-text {
  margin-top: -70vh;
  z-index: 4;
  position: absolute;
  text-align: center;
  color: white;
}

.cover-title {
  font-size: 5rem;
  font-weight: bold;
}

.cover-subtitle {
  font-size: 25px;
  font-weight: bold;
  max-width: 80%;
  margin: 0 auto;
}

.carousel {
  max-height: 600px;
  overflow: hidden;
}

.blog-card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 20px;
  height: 250px;
}

.first-card {
  height: 425px;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.418);
  z-index: 2;
  padding: 10px;
}

.card-text {
  position: absolute;
  z-index: 3;
  color: white;
  bottom: 5%;
}

.disable-scroll {
  background: transparent;
  position: relative;
  width: 100%; /* iframe width */
  height: 360px; /* iframe height */
  top: 360px; /* iframe height */
  margin-top: -360px; /* iframe height */
}

.google-maps {
  width: 100%;
  padding: 50px 0;
  z-index: 1;
  background: white;
}

.google-maps iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}

.google-maps iframe.clicked{
	pointer-events: auto;
}

.map-iframe {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.post-list {
  border: 1px solid  gainsboro;
  border-radius: 10px;
  box-shadow: 0 -1px 4px #ede7e7;
  height: 100%;
  padding: 15px;
  margin: 8px;
}

.post-list:hover {
  background-color: whitesmoke;
}

img.post-html {
  max-width: 300px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.link{
  text-decoration: none;
  color: black;
  width: 100%;
}

.link:hover {
  text-decoration: none;
  color: black;
}

.wave{
  height: 100%;
  width: 400%;
  position: relative;  
  z-index: 3;
  bottom: 0;
}
.wave::before, .wave::after{
  border-bottom: 0px solid white;
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-size: 20px 40px;
  background-image:
    radial-gradient(circle at 10px -15px, transparent 20px, white 21px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-size: 40px 40px;
  background-image:
    radial-gradient(circle at 10px 26px, white 20px, transparent 21px);
}

p {
  text-indent: 0px;
}

@media only screen and (max-width: 576px) {

  .cover-wrapper {
    height: 100vh;
  }
}

@media only screen and (min-height: 950px) {
  .landing-container {
    margin-top: 25vh;
  }
}