.faqItem {
    border-bottom: 1px solid  #343a40;
    padding: .5rem;   
    text-align: center;
}

.faqItem:hover{
    background-color: #343a40;
}

.faqContainer {
    max-width: 60%;
    margin: 0 auto 30px;
    border: 1px solid  #343a40;
    background-color: #343a40ba;
    box-shadow: 0 -1px 4px #343a40;
}

.collapse-content {
    border-top: 1px solid black;
}

@media only screen and (max-width: 768px) {
    .faqContainer {
        max-width: 80%;
    }
  }