

.collapsible {
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color: white;
}

.collapseBox:hover {
  background-color: #f1f1f1;
} 

.content {
  padding: 0 18px;
  display: none;
}

.active {
    display: block;
}

.collapseBox {
  border: 2px solid black;
  border-bottom: 1px solid black;
}