.faqItem {
    border: 1px solid  #343a40;
    padding: .5rem;
    box-shadow: 0 -1px 4px #343a40;
    margin: 1rem;
    background-color: #343a4075;
    border-radius: 25px;
}

.faqItem:hover{
    background-color: #343a40;
}

.faqContainer {
    max-width: 60%;
    margin: 0 auto;
    padding: 40px 0px;
}

@media only screen and (max-width: 768px) {
    .faqContainer {
        max-width: 80%;
    }
  }