.footer-input {
    background: none;
    color: white;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.footer-image {
    max-width: 150px;
}

@media only screen and (min-width: 576px) {
    .footer-image {
        max-width: 175px;
    }
  }

@media only screen and (min-width: 768px) {
    .footer-image {
        max-width: 200px;
    }
  }