#navbar {
    z-index: 2;
}

Link {
    text-decoration: none;
}

.nav-item {
    padding: 0 5px;
    color: lightgray;
    text-decoration: none;
}

a {
    color: rgba(255,255,255,.5);
}

@media only screen and (max-width: 768px) {
    #navbar {
        text-align: center;
    }
}