#navbar {
    z-index: 2;
}

Link {
    text-decoration: none;
}

.nav-item {
    padding: 0 5px;
    color: white;
    text-decoration: none;
}

.start-navitem {
    padding-right: 35px;
}

.end-navitem {
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    #navbar {
        text-align: center;
    }
}

@media screen and (min-width: 821px) {
    .nav-item {
        padding-right: 13px
    }

    .navbar-brand {
        padding-left: 13px
    }
}

@media screen and (min-width: 900px) {
    .nav-item {
        padding-right: 15px
    }

    .navbar-brand {
        padding-left: 15px
    }
}

@media screen and (min-width: 991px) {
   
    .nav-item {
        padding-right: 17px
    }

    .navbar-brand {
        padding-left: 25px
    }
  }

  @media screen and (min-width: 1100px) {
    .end-navitem {
        margin-right: 65;
    }
   
    .nav-item {
        padding-right: 20px
    }

    .navbar-brand {
        padding-left: 65px
    }
  }