form {
    max-width: 650px;
    text-align: center;
}

input, select, textarea, label {
    margin: 30px auto; 
    max-width: 100%;
    width: 90%;
    text-align: left;
}

.form-input {
    margin: 10px auto;
    border-top: none;
    border-left: none; 
    border-right: none;
    border-bottom: 1px solid gray;
    font-size: larger;
}

label {
    margin: 15px 0 -15px;
    color: black;
    text-align: left;
}

#waiver-button {
    width: 400px;
}

.submit-button {
    width: 250px;
    text-align: center;
    background: #477ebf;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    margin: 15px auto;
    padding: 13px;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  #cover-button {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 1110px;
}

.form-select {
    color: grey;
}

@media only screen and (min-width: 768px) {

    #form-sec-one {
        border-right: 2px solid lightgray;
    }

    #waiver-button {
        width: 100px;
    }
}

@media only screen and (min-width: 768px) {
    .cover-container {
        padding-top: 100px;
    }
}