h1 {
    text-align: center;
}

.nav-item {
    padding: 0 5px;
    color: white;
    float: right;
    text-decoration: none;
}

form {
    text-align: center;
    max-width: 650px;
}

input, select, label, textarea {
    max-width: 100%;
    width: 90%;
    text-align: left;
    border-radius: 10px;
}

input, select {
    margin-bottom: 10px;
}

label {
    color: white;
}

#submit {
    text-align: center;
}