form {
    text-align: center;
    max-width: 650px;
}

select, label, textarea {
    max-width: 100%;
    width: 90%;
    text-align: left;
    border-radius: 10px;
}

select {
    margin-bottom: 10px;
}

input {
    margin: 30px auto; 
    max-width: 100%;
    width: 90%;
    text-align: left;
    border-radius: 10px;
}

.form-input {
    margin: 10px auto;
    background: #f9f9f9;
}

label {
    margin-top: 15px;
    color: white;
}

#waiver-button {
    width: 400px;
}

#submit {
    text-align: center;
}

#cover-button {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


@media only screen and (min-width: 768px) {

    #form-sec-one {
        border-right: 2px solid lightgray;
    }

    #waiver-button {
        width: 100px;
    }
}