body {
    text-align: center;
}
.navBrand {
    margin-bottom: 0px;
}

.NavbarBrand {
        width: 10%;
}

@media only screen and (max-width: 576px) {
    .NavbarBrand {
        width: 40%
    }
  }

